# Visual Studio
vs/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider specific files
.idea/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Cache files
*.nuget.props
*.nuget.targets

# Databases
*.db
*.db-shm
*.db-wal
